<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <title>{% block title %} Title {% endblock %}</title>
    </head>

    <body>

        {% include 'includes/navbar.html' %}

        {% if messages %}
            {% for message in messages %}

                <div class="bg-success {% if message.tags %} {{message.tags}} {% else %} success {% endif %} bg-gradient text-center text-white py-2">
                    <h3>{{ message }}</h3>
                </div>

            {% endfor %}

        {% endif %}
        

        <div class="container">
            {% block body %} Text {% endblock %}
        </div>

    </body>
</html>